html,
body {
    margin: 0px;
    height: auto;
    background-color: #e0e0e0;
}

header,
footer {
    background-color: rosybrown;
}

.container {
    height: 100%;
    width: 100%;
}

#logo {
    height: 60px;
    width: 60px;
}

.content .city {
    background: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 300ms;
}

.content .city img {
    height: 150px;
    width: 150px;
    padding: 5%;
    border-radius: 25%;
}

.content .cityCard {
    margin-left: 14%;
    margin-right: 14%;
}

.content .cityCard img {
    height: 150px;
    width: 150px;
    padding: 5%;
    border-radius: 25%;
}

.cityImg {
    height: 150px;
    width: 150px;
}

.social {
    height: 20px;
    width: 22px;

}