html,
body {
    margin: 2px;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

#logo {
    height: 60px;
    width: 60px;
}

.city {
    height: 150px;
    width: 150px;
}

.social {
    height: 20px;
    width: 22px;

}