.content .hotelImg {
    height: 150px;
    width: 150px;
  }

  .viewstyle {
    display: flex;
    font-weight: 600;
  }

  .listview, .mapview{
    width: 50%;
    padding: 1%;
  }


  a {
    text-decoration: none;
    color: black;
  }

  .listview {
    text-align: right;
  }

  .mapview {
    text-align: left;
  }

  /* .hotel-list {
    margin: 2.5%;
    display: inline-block;
  } */
  .hotel-list .hotel-card {
    background-color: rgb(132, 136, 139);
    height: auto;
    width: 40vw;
    margin: 1% 5% 1% 4%;
    display: inline-block;
  }
  .hotel-list img {
    height: 200px;
    width: 250px;
  }

  #map-view {
    visibility: hidden;
    display: none;
  }